<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Open Cart Test Refression PW Suite" verbose ="4" thread-count = "2" parallel = "tests">
  <listeners>
  <listener class-name="com.OpenCart.listeners.ExtentReportListeners"/>
  </listeners>
  
  <test name="Open Cart Home Page Test">
    <classes>
      <class name="com.OpenCart.tests.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Open Cart Login Page Test">
    <classes>
      <class name="com.OpenCart.tests.LoginPageTests"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
